@use '../../../styles/tokens' as t;

:host { --grid-above: 138px; }

.error-cell {
  max-width: 320px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--p-text-muted-color);
}
