@use '../../../styles/tokens' as t;

:host { --grid-above: 155px; }

.row-actions {
  display: flex;
  gap: t.$space-2;
  justify-content: flex-end;
  align-items: center;
}

.row-actions {
  display: flex;
  gap: t.$space-2;
  justify-content: flex-end;
  align-items: center;
}
